cache/*
config/databases.yml
data/sql/schema.sql
lib/filter/doctrine/base/*
lib/filter/doctrine/sfDoctrineGuardPlugin/base/*
lib/form/doctrine/base/*
lib/form/doctrine/sfDoctrineGuardPlugin/base/*
lib/model/doctrine/base/*
lib/model/doctrine/sfDoctrineGuardPlugin/base/*
log/*
web/*htaccess
*~
